.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 50%;
    height: 100%;
}

.container p:nth-child(1){
    color: #3285dc;
    font-size: 18px;
}

.container h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    color: white;
    text-align: inherit;
    width: 73%;
}
