.container {
    height: 100vh;
    width: 100%;
    background-color: #1a2037;
    position: relative;
}

.backimg {
    width: 100%;
    height: 100%;
    background-image: url('/src/home_page/images/background-element-hero-section-1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    display: flex;
    gap: 120px;
}

.icon{
    width: 525px;
    height: 580px;
    position: absolute;
    top: 115px;
    right: 250px;
    background-image: url('/src/home_page/images/right-image-hero-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.social{
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.facebook{
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #242b44;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    color: white;
}

.titlebox{
    display: flex;
    height: 100%;
    width: 475px;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;
}

.titlebox h1{
    color: white;
    font-size: 70px;
    line-height: 1.2;
    text-wrap: wrap;
}

.titlebox p{
    font-size: 22px;
    color: #9a95a7;
    line-height: 1.1;
}

.buttonbox{
    width: 100%;
    height: 57px;
    display: flex;
    gap: 20px;
}

.buttonbox button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    width: 192px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonbox button:nth-child(1){
    background-color:#4aa5f0;
    border: none;
    outline: none;
}

.buttonbox button:nth-child(2){
    border: solid 0.5px gray;
    outline: none;
   background-color: rgba(36, 43, 68, 0.1);

}