.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-image: url('/src/home_page/components/quantityPage/images/virus.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 576px;
    width: 524px;
}